# ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
*.sbr
*.vs/
_ReSharper*/
[Tt]est[Rr]esult*

# Ignore build output
bin/
obj/
packages/


